@model SalesWebMvc_.Net7.Models.ViewModels.ErrorViewModel
<!-- Essa é a nossa Página de Erro padrão: 
     Além das mensagens nela, ela conta com um objeto Modelo do 
     Tipo ErrorViewModel.cs.
     - Declarado nesta 1ª linha aqui.
-->

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"].</h1>
<h2 class="text-danger">@Model.Message</h2>  <!-- Este ARROBA Model.Message é o Atributo Message, que a gente criou lá na Classe ErrorViewModel. // Então eu vou mostrar a mensagem aqui neste espaço da View (tela) Error. -->
  

@if (Model.ShowRequestId) 
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<!-- Como lá na Classe (ou neste objeto vindo) ErrorViewModel, tem a 
     função que retorna um BOOL (V ou F), eu vou testar SE EXISTE o
     RequestId, então eu vou mostrar o RequestId (id). --> 